.Left{
    inset-block: 1in;
    margin-left: 2in;
    margin-top: 3in;
}

.contain {
    columns: 4 auto;
    border-style: double;
    column-rule: 4px double;
  }

.Right{
    inset-block: 1in;
    margin-left: 6in;
    margin-top: 3in;
}

.col-centered{
    float: none;
    margin: auto ;
}