body {
  font-family: "Chelsea Market", sans-serif;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  
  url('veg1.jpg');
  background-size: cover;
  margin-left: 1in !important;
  margin-top: 25px !important;
  margin-right: 30px !important;
  margin-bottom: 30px !important;
}

@import url(https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap);
h1, h2, p, ul, li {
  font-family: Chelsea Market;
}
.form {
  opacity:0.8;
  border-radius: 20px;
}
.form button {
  background:#7CBD6A; 
}
.form button:hover, .form button:active, .form button:focus {
  background: #7B736F;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #7CBD6A;
}



